*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
body{
    background: #222831;
}

.img_logo{
    width: 30px;
    padding: 20px 0 30px 40px;   
    
}
main{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 0 50px 80px;
    height: 100%;
    justify-content: space-between;
}

.seccion-principal-1{
    width: 60%;
}
.seccion-principal-2{
    width: 30%;
    background: #393E46;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: block;
    text-align: center;
}
.contenedor-muneco{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
}
.contenedor-muneco img{
    padding-top: 100px;
    width: 300px;
}

.contenedor-muneco h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    padding-top: 30px;
    text-align: center;
    color:#bbbbbb;
}
.contenedor-muneco p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #bbbbbb;
    text-align: center;
    padding: 50px 0 50px 0;
}

.contenedor-resultado{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    display: none;
}


.text-area{
    border: none;
    color: #00ADB5;
    background: #222831;
    margin-top: 90px;
    text-transform: lowercase;
    height: 400px;
    resize: none;
}
.text-area::placeholder{
    color: #00ADB5;
}
.text-area:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}
.btn-encriptar{
    background-color: #00425A;
    border: 1px solid #00425A;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.btn-desencriptar{
    background: #d8dfe8;
    border: 1px solid #00425A;
    border-radius: 24px;
    color: #00425A;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.resultado{
    width: 90%;
    height: 90%;
    color: #bbbbbb;
    font-size: 24px;
    background-color: #393E46;
    border: none;
    margin-top: 10px;
}
.resultado:focus{
    outline: none;
}


.btn-copiar{
    border: 1px solid #00425A;
    border-radius: 24px;
    color: #00425A;
    cursor: pointer;
    height: 67px;
    width: 65%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.informacion{
    color: #495057;
    font-size: 18px;
}


footer{
    width: 100%;
    height: 100px;
    display: flex;
   
}
.pie-de-pagina{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-pie{
    width: 40%;

    height: 100%;
}
.titulo-pie h3{
    font-size: 24px;
    color: #00ADB5;
    padding-top: 30px;
}
.social{
    width: 40%;
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: #bbbbbb;
    text-decoration: none;
    padding: 30px;
    text-align: center;
} 

.social img{
    width: 50px;

}

@media screen and (max-width: 940px) {
    main{
        display: block;
    }
    .seccion-principal-1,
    .seccion-principal-2{
        width: 80% ;
    }
    .seccion-principal-2{
        margin-top: 50px;
    }
    .pie-de-pagina{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    main{
        width: 100%;
        margin: 0 auto;
    }
    .botones{
        display: block;
    }

    .btn-encriptar,
    .btn-desencriptar{
        margin: 10px;
    }
    .titulo-pie,
    .social{
        width: 100%;
    }

}
